.header{
    background-color: rgb(96, 243, 76);
}

.headerr{
    background-color: rgb(96, 243, 76);
}
section {
    background-color:beige;
    padding: 40px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.logo{
    max-width: 120px;
    height: auto;
  }
  
  .titulo{
    order: 5;
  }
  
  .titulo {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(17, 17, 17);
      position: relative;
      text-align: center;
  }

  .footer {
    background-color: blueviolet;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }